


.aboutmain{

    background:url('/img/Aboutus_main.jpg');
    height: 485px;
    width: 100%;
    
}
.about_main_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    padding: 51px 196px;
}

.color{
    color: black;
    font-size: 1.4rem;
}

.about_container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 300px;
    transition-property: all;
            transition-duration: 2s;
    margin: 45px auto;

}

.about_container:hover{

     transform: translatex(80px);

}

.reversecard{
    flex-direction: row-reverse;
}
.aboutimg{
    width: 30%;
    height: 100%;
    /* border: 3px solid black; */
    
}
.aboutimg img{
    height: 100%;
    width: 100%;
}
.about_details{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 3px solid black; */
}

.details{
    width: 70%;
    margin: auto;
}
.details_head{
    font-size: 2rem;
}
.details_body{
    font-size: 1.2rem;
    color: black;
}

@media only  screen and (max-width:1000px){
    .aboutmain{
        height: 260px;
    }
    .about_main_head{
        width: 70%;
        padding: 41px 41px;
    }
    .color{
        font-size: 0.9rem;
    }
    .about_container{

        flex-direction: column;
        width: 100%;
        height: 350px;
    }
    .aboutimg{
        height: 30%;
        width: 40%;
    }
    .about_details{
        justify-content: start;
        height: 70%;

    }
    .details_head {
        font-size: 1.1rem;
    }
}