<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/static/navfooter.css">
    <link rel="stylesheet" href="/static/AboutUs.css">
</head>
<body>

    <!-- nhavbar -->
    <nav class="navbar h-nav-resp">
        <div class="logo v-class-resp">
            <img src="/img/logo.jpg" alt="Royal Hotel">
        </div>
        <ul class="nav-list v-class-resp">
            <li><a href="/view/Home.html">Home </a></li>
            <li><a href="/view/AboutUs.html">About Us </a></li>
            <li><a href="/view/Membership.html">Membership</a></li>
            <li><a href="/view/Contact.html">Contact Us</a></li>
        </ul>
        <div class="rightNav ">
            <button class="btn">BOOK A STAY</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        
    </nav>
    <hr>
        
<section class="aboutmain">

    <div class="about_main_head">
        <h1 class="color">About Royal Palace</h1>
        <p class="color">As one of the world’s top hospitality companies, Hyatt remains committed to caring for people so they can be their best.</p>
    </div>
 
</section>

<section class="aboutus">
<div class="about_container">
<div class="aboutimg">
    <img src="/img/about_family.jpg" alt="">
</div>
<div class="about_details">
    <h1 class="color">WE ARE <i>family</i></h1>
    <p class="color">Our foundation in family goes back to 1957, when entrepreneur  purchased the original Royal Palace House motel.  They worked to grow the Royal Palace brand, powered by their belief in the importance of family and care. As of March 31, 2021, Royal Palace is a global hospitality company with 20 premier brands and more than 1,000 hotel, all-inclusive, and wellness resort properties in 68 countries across six continents.</p>
</div>
</div>


<div class="about_container reversecard">
<div class="aboutimg">
    <img src="/img/about_carrng.jpg" alt="">
</div>
<div class="about_details">
    <h1 class="color"><i>caring</i> FOR OUR COMMUNITIES</h1>
    <p class="color">Meet Royal Palace Thrive, our corporate social responsibility platform. Our purpose of care defines our practice of responsibility. By building strong communities and fostering sustainable practices, we’re working to create an environment in which people thrive. As the Royal Palace footprint expands to meet the needs of a more connected and traveled world, we have the opportunity—and the responsibility—to grow with purpose and to protect our environment for generations to come.</p>
</div>
</div>


<div class="about_container">
<div class="aboutimg">
    <img src="/img/about_embrace.png" alt="">
</div>
<div class="about_details">
    <h1 class="color">We <i>embrace</i> Everyone</h1>
    <p class="color">With more than 127,000 colleagues across 68 countries, we embrace all cultures, races, ethnicities, genders, sexual orientations, ages, abilities, perspectives, and ways of thinking. Our culture is one that empowers every individual to be his or her best, and such authentic connection inspires the way we care for each other and for our guests.</p>
</div>
</div>


<div class="about_container reversecard">
<div class="aboutimg">
    <img src="/img/about_find.jpg" alt="">
</div>
<div class="about_details">
    <h1 class="color">FIND <i>your place</i> AT ROYAL PALACE</i></h1>
    <p class="color" >Be a part of something bigger. Enjoy life every day. Make a difference in the lives of those around you. Love where you work. Join a company that values respect, integrity, humility, empathy, creativity, and fun. With careers spanning the globe, your perfect opportunity awaits. </p>
</div>
</div>
</section>



<details class="details">
    <summary class="details_head">Change Starts Here</summary>
    <p class="details_body"> We have a strong foundation of action to build upon, but we know we must do more.
    <br><br>
        Institutional racism, systemic injustice, racial inequality, and police brutality against the Black community—today, yesterday, and throughout centuries past—cannot and must not continue. The outrage and grief we are all expressing over the callous and unjust deaths of George Floyd, Breonna Taylor, Ahmaud Arbery, and so many others, lay bare the daily injustices borne by the Black community and force us to reckon with a broken system that continues to oppress.
        <br><br> 
        Since opening our doors more than 60 years ago, we have worked to foster environments where all individuals feel welcome in our hotels. Inclusion and diversity are at the core of our purpose—to care for people so they can be their best—so we must be deeply involved in actions that fight racial injustice and inequality.
        <br><br>
        As a company that stands with the Black community and with all people who suffer from discrimination and prejudice, we continue to uphold our vision of a world of understanding and care through our words and actions—but even more importantly, we call upon ourselves to do better and be better. Change starts here.
        <br><br>
        We are immediately taking the following actions, in the following areas: who we employ and develop, who we support, and who we buy from and work with.</p>
  </details>


<details class="details">
    <summary  class="details_head">Who We Employ, Develop, and Advance</summary>
    <p class="details_body">Hyatt has made significant strides in building strong Diversity Business Resource Groups, launching our Global Inclusion & Diversity Council, training our People Managers on how to lead inclusively, and driving inclusion and diversity into our talent management practices. There is still more to do.
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679; We are committed to focusing on hiring, promoting, and retaining diverse talent to increase representation of women and people of color. We will be particularly focused on ensuring our leadership better reflects the rest of the organization and the communities in which we operate—this will require us to work to ensure equity in our own internal processes. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;  We will continue the work to ensure a level playing field for career growth for all colleagues, through ensuring compliance with our Internal Recruiting & Hiring Guidelines and requiring a diverse slate of candidates for all leadership roles. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;   We will audit our hiring and promotion processes to ensure they are delivering diverse candidates in the selection process and continue to link achievement of our inclusion and diversity goals to compensation for leaders at Hyatt.</p>
  </details>


<details class="details">
    <summary  class="details_head">Who We Support</summary>
    <p class="details_body">We have a long history of focusing on providing opportunities to Opportunity Youth in underprivileged communities and have invested millions of dollars in helping to promote and support expanded job opportunities as part of our RiseHY program.
        <br><br>
        The economic impact of COVID-19 on our industry has been a significant setback on this journey, but no matter the current economic circumstances for our industry, we remain committed to expanding our work.
        <br><br>
        Specifically, Hyatt is committing to invest $1 million in addition to other RiseHY investments in the following areas:
        <br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679; We will magnify our long-term focus on helping Opportunity Youth prepare for and secure good jobs, especially for the Black members of our communities who suffer some of the highest rates of unemployment.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679; We will invest in our Chicagoland hometown community by supporting organizations committed to strengthening the support network for underserved populations, with a special focus on members of the Black population and young people in those communities.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679; We will invest in initiatives that support Black- and other minority-owned businesses with a philanthropic focus on our hometown, Chicago.</p>
  </details>


<details class="details">
    <summary  class="details_head">Who We Buy From and Partner With</summary>
    <p class="details_body">We know that economic inequality is at the root of systemic injustice. Black- and minority-owned businesses are more likely to be disproportionately impacted by COVID-19. We see an opportunity to help rebuild these businesses as we rebuild our own.
<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;We are focused on expanding our purchasing with minority-owned businesses, and especially those that are Black-owned. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679; We commit to partnering with organizations to significantly increase the inclusion of diverse suppliers in our supply chain opportunities, evaluate strategic investments in diverse businesses, and provide subject-matter expertise to help businesses navigate these unprecedented business circumstances.
         <br><br>
        
        We pledge these commitments to our colleagues, guests, customers, hotel owners and communities around the world to fight systemic racism and achieve equality together.</p>
  </details>


        <!-- footer section -->

  <section class="myfooter">
    <div class="upperfooter">
    <div class="footer_areas">
     <p class= "connect_heading">Royal Hotel Properties</p>
     <p>Royal Hotel Spa & Golf Resort Goa</p>
     <p>Royal Hotel Great Eastrern Kolkata</p>
     <p>Grand Royal Hotel Palace</p>
     <p>Royal Hotel Jaipur</p>
     <p>Royal Hotel Ahmedabad</p>
  
    </div>
    <div class="footer_areas">
      <p class="connect_heading">Royal Hotel Hospitality Group</p>
      <p>About Us</p>
      <p>Management</p>
      <p>Royal Hotel Loyalty</p>
      <p>Media Courage<p6>
      <p>Awards</p>
      <p>Blog</p>

    </div>
    <div class="footer_areas">
      <p class="connect_heading">Connect with Us</p>
      <div class="last">
        <div class="connect_img">
            <a href="https://instagram.com/umang_poshiya1408?utm_medium=copy_link" target="_blank"><img
                src="/img/connect_insta.png" alt=""></a>
          </div>
          <div class="connect_img">
            <a href="https://www.facebook.com/umang.poshiya.3" target="_blank"><img src="/img/connect_fb.jpg"
                alt=""></a>
          </div>
          <div class="connect_img">
            <a href="https://www.linkedin.com/in/umang-p-48859a162" target="_blank"><img src="/img/connect_li.png"
                alt=""></a>
          </div>
    </div>
  </div>
</div>
  <div class="bottomfooter">
    <p>  &copy; All Rights Reserved | Website is made for Knowledge Purpose</p>
  </div>
  
  </section>
     
        

  <script src="/static/Home.js"></script>
</body>
</html>