<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
            
        }
        h2 a{
            background-color: gray;
        }
        h2 a:hover{
            background-color: rgb(255, 103, 15);
        }
    </style>
</head>
<body>
    <h1>Thank you for your valuable feedback</h1>

    <h2> <a href="/view/Home.html">click here</a> to go back</h2>
</body>
</html>




