<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="/static/navfooter.css">
    <link rel="stylesheet" href="/static/membership.css">
</head>
<body>
    <!-- nhavbar -->
    <nav class="navbar h-nav-resp">
        <div class="logo v-class-resp">
            <img src="/img/logo.jpg" alt="Royal Hotel">
        </div>
        <ul class="nav-list v-class-resp">
            <li><a href="/view/Home.html">Home </a></li>
            <li><a href="/view/AboutUs.html">About Us </a></li>
            <li><a href="/view/Membership.html">Membership</a></li>
            <li><a href="/view/Contact.html">Contact Us</a></li>
        </ul>
        <div class="rightNav ">
            <button class="btn">BOOK A STAY</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <hr>
        


    <section class="membershipmain">

        <div class="membership_main_head">
            <h1 class="font">Become a MEMBER</h1>
            <p class="font">And Enjoy Exclusive Benefits</p>
        </div>
       
    </section>


    <section class="membership_cards">
        <div class="membcard">
            <div class="imgpart">
                <img src="/img/memb-1.jpg" alt="">
            </div>
            <div class="detailspart">
                <h2>Enjoy A Lifetime Of Privilege</h2>
                <p>The Chambers Global Membership offers members a lifetime* of unfettered access to all its accompanying benefits and privileges.</p>
            </div>
        </div>


        <div class="membcard">
            <div class="imgpart">
                <img src="/img/memb-2.jpg" alt="">
            </div>
            <div class="detailspart">
                <h2>One-Time Membership Transfer</h2>
                <p>The Chambers Global Membership provides its members the rare chance to enjoy unparalleled benefits across generations, via a one-time transfer* of membership to their son or daughter.</p>
            </div>
        </div>


        <div class="membcard">
            <div class="imgpart">
                <img src="/img/memb-3.jpg" alt="">
            </div>
            <div class="detailspart">
                <h2>Exclusive Stay Discount</h2>
                <p>Members enjoy 25% off on room bookings with complimentary breakfast. </p>
            </div>
        </div>
        <div class="membcard">
            <div class="imgpart">
                <img src="/img/memb-4.jpg" alt="">
            </div>
            <div class="detailspart">
                <h2>Add-on Card</h2>
                <p>Members can share select privileges with their spouse by availing the complimentary add-on card facility.</p>
            </div>
        </div>
        <div class="membcard">
            <div class="imgpart">
                <img src="/img/memb-5.jpg" alt="">
            </div>
            <div class="detailspart">
                <h2>Platinum Membership of Royal Palace InnerCircle</h2>
                <p>Receive a complimentary Platinum Membership of the coveted Royal Palace InnerCircle program </p>
            </div>
        </div>
        <div class="membcard">
            <div class="imgpart">
                <img src="/img/memb-6.jpg" alt="">
            </div>
            <div class="detailspart">
                <h2>Upgrades</h2>
                <p>Members enjoy priority bookings with one level upgrade*, across Hotel, SeleQtions and Vivanta hotels worldwide.</p>
            </div>
        </div>
    </section>

    <section class="togglehide">
        <div id="hide" class="membership_cards hide"  >
            <div class="membcard">
                <div class="imgpart">
                    <img src="/img/memb-7.jpg" alt="">
                </div>
                <div class="detailspart">
                    <h2>Curated Events</h2>
                    <p>Members enjoy access to ultra exclusive events curated especially by The Chambers.</p>
                </div>
            </div>
            <div class="membcard">
                <div class="imgpart">
                    <img src="/img/memb-8.jpg" alt="">
                </div>
                <div class="detailspart">
                    <h2>Exclusive Experience</h2>
                    <p>Members receive complimentary vouchers to experience select services across Royal Palace, SeleQtions and Vivanta hotels.</p>
                </div>
            </div>
            <div class="membcard">
                <div class="imgpart">
                    <img src="/img/memb-9.jpg" alt="">
                </div>
                <div class="detailspart">
                    <h2>Privileged Access</h2>
                    <p>Members enjoy unrestricted access to the business centre and club lounge across all Royal palace.</p>
                </div>
            </div>
            
        </div>
        <button class="btn centerbtn" onclick="myFunction()">Show More/less</button>
    </section>
    
  

  


        <section class="myfooter">
            <div class="upperfooter">
            <div class="footer_areas">
             <p class= "connect_heading">Royal Hotel Properties</p>
             <p>Royal Hotel Spa & Golf Resort Goa</p>
             <p>Royal Hotel Great Eastrern Kolkata</p>
             <p>Grand Royal Hotel Palace</p>
             <p>Royal Hotel Jaipur</p>
             <p>Royal Hotel Ahmedabad</p>
          
            </div>
            <div class="footer_areas">
              <p class="connect_heading">Royal Hotel Hospitality Group</p>
              <p>About Us</p>
              <p>Management</p>
              <p>Royal Hotel Loyalty</p>
              <p>Media Courage<p6>
                  <p>Awards</p>
                  <p>Blog</p>
                  
            </div>
            <div class="footer_areas">
              <p class="connect_heading">Connect with Us</p>
              <div class="last">
                <div class="connect_img">
                    <a href="https://instagram.com/umang_poshiya1408?utm_medium=copy_link" target="_blank"><img
                        src="/img/connect_insta.png" alt=""></a>
                  </div>
                  <div class="connect_img">
                    <a href="https://www.facebook.com/umang.poshiya.3" target="_blank"><img src="/img/connect_fb.jpg"
                        alt=""></a>
                  </div>
                  <div class="connect_img">
                    <a href="https://www.linkedin.com/in/umang-p-48859a162" target="_blank"><img src="/img/connect_li.png"
                        alt=""></a>
                  </div>
            </div>
          </div>
        </div>
          <div class="bottomfooter">
            <p>  &copy; All Rights Reserved | Website is made for Knowledge Purpose</p>
          </div>
          
          </section>
             
                
        
          <script src="/static/Home.js"></script>
</body>
</html>